@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  min-height: 100vh;
}

::-webkit-scrollbar {
  display: none;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.light-background {
  background-color: #ebded5 !important;
}
