@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background: #ebded5;
  min-height: 100vh;
}

::-webkit-scrollbar {
  display: none;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
